.carousel {
  overflow: hidden;
  position: relative;
  border-radius: 1%;
  .carousel__container {
    display: flex;
    transition: transform 0.5s ease;
    height: 455px;
    .carousel__img {
      flex-shrink: 0;
      width: 100%;
      object-fit: cover;
    }
  }
  .carousel__controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .chevron {
      width: 90px !important;
      height: auto !important;
      cursor: pointer;
    }
  }
}

@media (max-width: 1240px) {
  .carousel {
    height: 255px;
    .carousel__container {
      .carousel__img {
        height: 255px;
      }
    }
    .carousel__controls {
      .chevron {
        width: 45px !important;
      }
    }
  }
}
