.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: 68px;
  }
  .header__container--navigation {
    display: flex;
    gap: 57px;
    a {
      color: #ff6060;
      text-decoration: none;
      font-size: 24px;
    }
  }
}

@media (max-width: 1240px) {
  .header__container {
    img {
      height: 47px;
    }
    .header__container--navigation {
      gap: 10px;
      a {
        font-size: 12px;
      }
    }
  }
}
