.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: 68px;
  }
  .header__container--navigation {
    display: flex;
    gap: 57px;
    a {
      color: #ff6060;
      text-decoration: none;
    }
  }
}
