html {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

body {
  margin: 0;
}

.page {
  padding: 40px 100px 40px 100px;
}

@media (max-width: 1240px) {
  .page {
    padding: 20px;
  }
}
